html {
  background-color: rgba(0, 0, 0, 0.13);
}

body {
 
  background-image: url(/gtpfbg.jpg);
  font-family: 'Arial', sans-serif;
}

.main {
  padding-top: 10px;
  min-height: calc(100vh - 100px);
  width: 100%;
  height: 100%;
}